* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
	margin: 0 auto;
	max-width: 1280px;
	border: #d15700 1px dotted;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
}
