.reference__item {
    width: 166px;
}


.reference__headline {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.reference__link {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.7;
    word-wrap: break-word;
}

@media (max-width: 720px) {
    .reference__item {
        margin: 15px;
    }
}