.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range {
    padding: 0 0 134px 0;
}

.cards__items {
    /* width: 250px ;
    height: 370px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

.reference {
    padding-top: 50px;
    background: #464C55;
}

.statistic {
    background: rgb(70, 76, 85);
}

.container {
    margin: 0 auto;
    max-width: 1060px;
}

@media (max-width: 990px) {
    .cards__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px;
    }
}

@media (max-width: 660px) {
    .cards__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 35px;
    }
}

@media (max-width: 420px) {
    .cards__items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 35px;
    }
}