.wrapperTopping {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1280px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 999999;
}

.topping {
    max-width: 920px;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding-left: 38px;
    background: rgb(255, 255, 255);
    align-items: center;
}

.radius {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 76px 0;
    width: 458px;
    height: 458px;
    border-radius: 50%;
    border: 3px dashed #A7A7A7;
    z-index: 2;
}

.wrapper_img {
    position: absolute;
    transform: translate(45px, -110%);
    z-index: 1;
}

.wrapper_img > img {
    display: block;
    width: 372px;
    height: 372px;
}

.right__section {
    padding: 30px;
}

.right_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 44px;
    width: 380px;
    height: auto;
    background: #FCFCFC;
    padding: 30px;

}

.right_section__headLine {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.right_section__text {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #73798C;
}

.right_section__selected {
    display: flex;
    gap: 3px;
}

.right_section__name {
    display: flex;
}

.right_section__name {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #4D4D4D;
}

.right_section__name > button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 0.5px solid #727171;
}

.right_section__values {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredients__headLine {
    margin: 19px 0 11px 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
/*pizzaImg*/
.right_section__radio {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    width: 100%;
    border-radius: 15px;
    background: #F3F3F7;
}

.radio__inputImg:checked + .radio__labelImg {
    padding: 7px 0 9px 0;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;

    left: 858px;
    top: 329px;
    cursor: pointer;
    background-image: url("http://127.0.0.1:5000/photos/icons/logo.svg");
    width: 84px;
    height: 84px;
}

.name {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    height: 32px;
}

.price {
    margin-top: 4px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
