.reference {
    padding-top: 50px;
    background: #464C55;
}
.reference__wrapper {
    background: #464C55;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul{
    padding: 0;
}
.reference__item_big {
    width: max-content;
}


@media (max-width: 1100px) {
    .reference__wrapper {
        margin-left: 16px;
    }
}

@media (max-width: 720px) {
    .reference {
        width: 100%;
    }
    
}



