.topping {
    max-width: 920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding-left: 38px;
}
.right_section {
    margin-left: 44px;
    width: 380px;
    height: 400px;
    background: rebeccapurple;
}

.radius {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 76px 0;
    width: 458px;
    height: 458px;
    border-radius: 50%;
    background: #d15700;
    border:  1px dotted #A7A7A7;

}
.wrapper_img{
    width: 372px;
    height: 372px;

}
.wrapper_img > img{
    display: block;
    width: 372px;
    height: 372px;
}