.statistic {
    background: rgb(70, 76, 85);
}

.statistic__container{
    display: flex;
    gap: 156px;
    padding: 93px 0 40px 0;
    background: rgb(70, 76, 85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistic__item {
    display: flex;
    flex-direction: column;
}

