.statistic {
    background: rgb(70, 76, 85);
}

.statistic__container{
    display: flex;
    gap: 156px;
    padding: 93px 0 40px 0;
    background: rgb(70, 76, 85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.statistic__item {
    display: flex;
    flex-direction: column;
}
.statistic__headline {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #FFF;
}
.statistic__text {
    width: 299px;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;
}