.itemsLogo {
	display: flex;
}
.img {
	display: block;
	width: 100%;
	height: 100%;
}
.box {
	width: 44px;
	height: 44px;
}

.logoHeaderBox {
	width: 192px;
	height: 22px;
}
.logoTagline {
	width: 162px;
	height: 12px;
	font-family: "Nunito", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #343434;
}
.boxSecond {
	margin: 0 0 0 14px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 44px;
}

@media (max-width: 320px) {
	.logoTagline {
		display: none;
		margin-top: 34px;
	}

	.logoHeaderBox {
		margin-top: 15px;
		width: 192px;
		height: 22px;
	}

	.line_right {
		border-right: 1px solid gray;
		padding-left: 10px;
		padding-top: 16px;
	}
	/* .left,
	.right {
		display: inline-flex;
		width: 20px;
		height: 20px;
	}

	.left {
		border-top: 3px solid black;
		border-left: 3px solid black;
		transform: rotate(-45deg);
	} */
}


